.vscode/**
.vscode-test/**
src/**
**/*.ts
**/*.map
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.eslintrc.*
**/*.eslintrc.json
**/node_modules/**
examples/**
projects/**
test-*.ts
*.lock
pnpm-lock.yaml
package-lock.json
.pnpm-debug.log
Cargo.toml
rustfmt.toml
.github/**
.idea/**
target/**
images/icon.svg
create-icon.mjs
.editorconfig
pnpm-workspace.yaml
