// clean styles
body {
    margin: 0;
}

a {
    text-decoration: none;
}

// header part
article {
    header {
        min-height: 200px;
    }
}


.bread-crumbs, .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

// main left
.container {
    display: flex;
    align-items: stretch;

}

.lift-list {
    //flex: 0.3;
    min-width: 15rem;
}

.left-separator {
    width: 1px;
    background-color: #cecece;
    margin-left: 1rem;
    margin-right: 1rem;
}

.lift-list,
.main-card {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: #666;
    }
}

// 定义类型图标样式
.type-icon {
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    margin-right: 0.5rem;
}


.main-link, .left-link {
    &.world {
        span.type-icon {
            border: 1px solid #000000;
        }
    }

    &.interface {
        span.type-icon {
            color: #20B44B;
            background-color: #b2ffba;
            border: 1px dashed #20B44B;
        }
    }


    &.resource {
        span.type-icon {
            color: #db6200;
            background-color: #ffdfc5;
            border: 1px solid #db6200;
        }
    }

    &.class {
        span.type-icon {
            color: #db6200;
            background-color: #ffdfc5;
            border: 1px solid #db6200;
        }
    }

    &.function {
        span.type-icon {
            color: #056CF0;
            background-color: #026BEB1A;
            border: 1px solid #056CF0;
        }

    }

    &.flags {
        span.type-icon {
            color: #7c00dd;
            background-color: #dab3ff;
            border: 1px dashed #7c00dd;
        }
    }

    &.enumerate {
        span.type-icon {
            color: #7c00dd;
            background-color: #dab3ff;
            border: 1px dashed #7c00dd;
        }
    }

    &.variant {
        span.type-icon {
            color: #be0000;
            background-color: #ffb3b3;
            border: 1px dashed #be0000;
        }
    }

}

.main-link {


    a {
        color: #12124B;
        font-weight: bold;
    }
}


.left-link {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    a {
        color: #12124B;
    }
}
